[default]
aws_access_key_id=ASIA2MS22DL2JAO7VN4O
aws_secret_access_key=2WOKTWPD9LMFjqQPMHyo7htPjeF/qmdLa2IdL967
aws_session_token=IQoJb3JpZ2luX2VjEJv//////////wEaCXVzLXdlc3QtMiJHMEUCIQDL1me6kY7mmtfGbkqVKm+CAjjlzbi7Wg63fjL605jFbAIga/26+x2rOsdABJErGxcfeTpyDa6hP4lRLfNmCIO2/fEquAIIpP//////////ARAAGgw3MTQyMjg3Njc0NzYiDE2I7fnhftSnNwTYgCqMAtFNNMrq9R6NoKlG6GKndKJdeWStlZQIZYdmhoz5oe76DrcYcU3T/ZxWdVvB4WAMHARJ3vuO8e3SDiA3IA9O0gsWUhLT4X3SzsWMlXwVY26uVbedwPTmrtqp0Pr8qkAgumuAgUHRkMe4g3iELamws/Dtsim1TGqub+PX0s1fgXJc2qIJNrFNuU/tvTIwxsYjB6aEvkksRnLcT36VylJsnZjHaSt/o6d354dJ3FTKsBpt3oahEq6bx6nWvnPZgYTK0E6kpE5VvM6cdYVx5sxmvWykbR0ffNG26MFqTz09/E8UfPJJn4ITDBOqpnAlXxR+p6hGoOA7m8jPczusCgtRJYOELTfWMeIHGbjXzjAwqb3tvAY6nQH+Z5puzHQyfbit5rwWBbsnC07khr2FRe9F+XuTUiFbuRVuKmjEbj+a0POsuLoE9NvwK/fPeyvhkjyGIsZzZ5UZBb1RYaornzgMY0lJkCF9cEkiLtxtF8WpXG5s6gQAxQGHzO5oPMsXLsLP3VniHHyI1LJaqHeklVKe53QxN2wtvr/ks6nxZbQ/n/yA2Qi0V1ScctfXylEh6L0YAmA0
