<html>
<head>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <header>
        <?php include ("header.php"); ?>
	

        <footer>
            <div class="lists">
                <div class="left">
                    <ul class="list">
                        <li><strong>Social Media</strong></li>
                        <li><a href="#"> <img src="img/instagram.png" alt="" width="40px"></a></li>
                        <li><a href="#"> <img src="img/twitter.png" alt="" width="40px"></a></li>
                        <li><a href="#"> <img src="img/reddit.png" alt="" width="40px"> </a></li>
                    </ul>
                </div>

                <div class="right">
                    <ul class="list">
                        <li><strong>Contact:</strong></li>
                        <li>Email: pelupelu@gmail.com</li>
                        <li>Phone: +34 666666666</li>
                    </ul>
                </div>
            </div>
        </footer>
    </header>
    <main>
