<html>
<head>
<link rel="stylesheet" href="css/estilos.css">
</head>
<body>
<header>
<?php include ("header.php"); ?>

<div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12708.12522533684!2d-3.6997655430685272!3d37.22323174058521!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd71fe396562a841%3A0xba6ef7eda8fabb83!2s18230%20Atarfe%2C%20Granada!5e0!3m2!1ses!2ses!4v1702471725723!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>



<footer>
    <div class="listas">
        <div class="izquierda">
            <ul class="lista">
                <li><strong>Redes sociales</strong></li>
                <li><a href="#"> <img src="img/instagram.png" alt="" width="40px"></a></li>
                <li><a href="#"> <img src="img/twitter.png" alt="" width="40px"></a></li>
                <li><a href="#"> <img src="img/reddit.png" alt="" width="40px"> </a></li>
            </ul>
        </div>

        <div class="derecha">
            <ul class="lista">
                <li><strong>Contacto:</strong></li>
                <li>Email: pelupelu@gmail.com</li>
                <li>Teléfono: +34 666666666</li>
            </ul>
        </div>
    </div>
</footer>
</header>
<main>
