server {
    listen 80;
    server_name localhost;

    # Redirige todo el tráfico HTTP a HTTPS
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name localhost;

    # Rutas de certificados SSL
    ssl_certificate     /etc/ssl/certs/ca_bundle.crt;
    ssl_certificate_key /etc/ssl/private/private.key;

    # Opciones SSL
    ssl_protocols       TLSv1.2 TLSv1.3;
    ssl_ciphers         HIGH:!aNULL:!MD5;

    # Configuración de la raíz y páginas
    root /etc/nginx/html;
    index index.html;

    location / {
        # Usar la cabecera Accept-Language para redirigir a la página correspondiente
        set $lang "es";  # Define "es" por defecto si no hay preferencia de idioma
        if ($http_accept_language ~* "en") {
            set $lang "en";  # Si el idioma preferido es inglés, cambiar a "en"
        }
        
        # Redirigir a la página correspondiente (index en español o inglés)
        try_files /$lang/index.html /index.html =404;
    }

    # Control de errores (si no se encuentra la página index)
    error_page 404 /errores.html;
    location = /errores.html {
        internal;
        root /etc/nginx/html;
    }
}
